##### begin netbeans #####
/nbproject/
##### end netbeans #####
##### begin NetBeans #####
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
##### end NetBeans #####
